*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

logs
nbproject
output
# Next line commented out, because test/webapp-3.0-virtual-library and
# test/webapp-3.0-virtual-webapp use it:
# target
work
build.properties
mvn.properties
.checkstyle
.classpath
.fbprefs
.project
.settings
*.iml
*.asc
*.jj
*.tmp
maven-ant-tasks-*.jar
thumbs.db
Thumbs.db
bin/setenv.*
java/org/apache/catalina/startup/catalina.properties
modules/jdbc-pool/bin
modules/jdbc-pool/includes
webapps/docs/jdbc-pool.xml
